# Backend
## Folders
/backend/storage/app/avatars
/backend/node_modules
/backend/public/build
/backend/public/avatar
/backend/public/hot
/backend/public/storage
/backend/vendor

## Folders Local Environment
/backend/.fleet
/backend/.idea
/backend/.vscode

## Files
/backend/storage/*.key
/backend/composer.lock
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log


# Root
## Folders
node_modules
vendor

## Files
.vscode
.DS_Store
.thumbs.db
npm-debug.log
yarn-error.log


# Frontend
## Quasar core related directories
/frontend/.quasar
/frontend/dist

## Cordova related directories and files
/frontend/src-cordova/node_modules
/frontend/src-cordova/platforms
/frontend/src-cordova/plugins
/frontend/src-cordova/www

## Capacitor related directories and files
/frontend/src-capacitor/www
/frontend/src-capacitor/node_modules

## Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Editor directories and files
/package-lock.json
/frontend/.idea
/frontend/.env
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
